<div class="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                &copy; 2023 {{ site.author.name }}. 
                <a href="https://github.com/ddbullfrog">Thanks to ddbullfrog for this creation.</a>
            </div>
        </div>
    </div>
</div>
