<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-4">
                <img src="{{ site.favicon | prepend: site.baseurl }}" title="Avatar" alt="My Avatar">
                <h4>{{ site.author.name }}</h4>
                <p>{{ site.author.title }}</p>
                <p class="muted">{{ site.author.address }}</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 visible-md-block visible-lg-block visible-sm-block">
                <p><i class="fa fa-envelope-o fa-fw"></i> {{ site.author.email }} </p>
                <p><i class="fa fa-github fa-fw"></i><a href="//github.com/{{ site.author.github }}" target="_blank">  @{{ site.author.github }} </a></p>
                <p><i class="fa fa-gitlab fa-fw"></i><a href="//gitlab.com/{{ site.author.gitlab }}" target="_blank">  @{{ site.author.gitlab }} </a></p>
                <p><i class="fa fa-linkedin-square fa-fw"></i> <a href="//linkedin.com/in/{{ site.author.linkedin }}" target="_blank"> linkedin.com/in/{{ site.author.linkedin }} </a></p>
                <p><i class="fa fa-twitter fa-fw"></i> <a href="//twitter.com/{{ site.author.twitter }}" target="_blank">  @{{ site.author.twitter }} </a></p>
            </div>
            <div class="col-sm-4 visible-md-block visible-lg-block">
                <a href="//makris55.gitlab.io/my-pod/assets/makris55-gitlab-io-my-pod.pdf" class="btn btn-dark"><i class="icon-file icon-white"></i> Download.pdf </a>
            </div>
        </div>
    </div>
</div>
